body {
    min-width:200px;
    max-width:790px;
    margin:0 auto;
    padding:30px;
}
img { height: 150px; }
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
ul > li {
    /* older webkit */
    display: -webkit-box;
    -webkit-box-align: center;

    /* older firefox */
    display: -moz-box;
    -moz-box-align: center;

    /* IE10*/
    display: -ms-flexbox;
    -ms-flex-align: center;

    /* newer webkit */
    display: -webkit-flex;
    -webkit-align-items: center;

    /* Standard Form - IE 11+, FF 22+, Chrome 29+, Opera 17+ */
    display: flex;
    align-items: center;

    width: 50%;

    margin-bottom: 1em;
}

ul > li > img {
  border-radius: 1em;
}

h1 + ul > li {
  width: 25%;
}

h1 + ul > li:last-child > a {
  font-weight: bold;
  font-size: 1.5rem;
}

ul > li > img + a {
    margin-left: 20px;
}
