header {
    position:relative;
    top:0;left:0;
    padding-top:0 !important;
    padding-bottom:0.8em !important;
}
footer {
    margin-bottom:0 !important;
}

.logo {
    display:inline-block;
    padding:0.2em;
    border-radius:0.3em;
    background-color:#ffff00;
}

.huge {
    font-size:8em;
    margin-top:0.2em;
}

p.small {
    font-size:0.8em;
}

.icon-ban-circle  {
    color:#d9534f;
}

.twitter {
    font-size:2em;
}

.twitter:hover, .twitter:active,
.video:hover, .video:active {
    text-decoration:none;
}

.video {
    padding:0.1em;
    padding-right:0.3em;
    padding-left:0.3em;
    font-weight:bold;
    letter-spacing:-0.07em;
}
.video:hover, .video:active {
    background-color:#428bca;
    color:#fff;
    border-radius:0.3em;
}
.video:active {
    background-color:#328bc9;
}

.m-top {
    margin-top:1em;
}


.ciklum {
    display:none;
    background-image:url(ciklum.png);
    background-size:100% 100%;
    width:196px;
    height:60px;
    position:absolute;
    top:95px;
    right:-365px;
}

.ciklum strong {
    display:none;
}


@media (max-width: 1080px) {
  .jumbotron h1 {
    font-size:40px !important;
  }
  .twitter {
    font-size:30px;
    line-height:40px;
  }
  .icon-youtube-play {
    margin-left:-0.3em !important;
    clear:both;
    float:left !important;
  }
}


@media (max-width: 768px) {
  .jumbotron h1 {
    font-size:30px !important;
  }
  .jumbotron h3 {
    font-size:18px !important;
  }
  .twitter {
    font-size:30px;
    line-height:40px;
  }
  .icon-youtube-play {
    margin-left:-0.3em !important;
    clear:both;
    float:left !important;
  }
}


@media (max-width: 450px) {
  .jumbotron h1 {
    font-size:20px !important;
  }
  .jumbotron h3 {
    font-size:14px !important;
  }
  .twitter {
    font-size:20px;
    line-height:30px;
  }
}

.speaker {
  min-height:370px;
}
